@import '../reset.less';
.message{
    width: 200px;
    padding: 20px;
    .flex_center;
    position: absolute;
    right: 0;
    transition: 0.3s;
    background: white;
    .txt;
    color: black;
    opacity: 0 !important;
}
.message.active{
    opacity: 1 !important;
}
